[2020-06-17 21:24] stebo85 opened #10 "minimize images"
jakub: I can help with this in the future. Neurodocker has a method of minimizing containers for certain commands. There's an example in the readme of minimizing an ANTs image https://github.com/ReproNim/neurodocker#minimize-existing-docker-image

[2020-06-17 21:26] stebo85 opened #8 "software containers to be installed"
https://docs.google.com/document/d/1KWznhJH7GzjmB1TK5veAH5FejcsjUs70pMmQloHph0g/edit

NeuroDesk/VNM project

Software to add to "library" of containers / "master" container

Bold - Software already in the library (available through https://github.com/ReproNim/neurodocker)

* - is for top priority software (to be included in “master” container)

+ - is for licensed software (need to check if possib

[2020-06-22 01:21] stebo85 opened #7 "setup automatic container building in caid repo"
idea:
- a push to master will trigger the build of containers in docker hub
- these containers are then pulled into VNM (not going via singularity hub, because docker hub allows us to store all images)

[2020-06-24 05:04] aswinnarayanan opened #2 "Fix docker image tags for dockerhub/vnmd"
Docker images are currently untagged i.e. vnmd/itksnap_3.8.0:tagname

[2020-06-24 05:07] aswinnarayanan opened #3 "Slow docker builds due to lack of caching"
Uncached FSL builds are ~30mins each
Need a docker caching implementation

[2020-06-24 05:08] aswinnarayanan commented on #3
https://dev.to/dtinth/caching-docker-builds-in-github-actions-which-approach-is-the-fastest-a-research-18ei

[2020-06-24 05:23] aswinnarayanan opened #4 "Deploy docker images to github packages"

[2020-06-24 05:23] aswinnarayanan opened #5 "Deploy singularity images to singularity hub"

[2020-06-25 03:26] stebo85 opened #6 "add cmtk"
1) add recipe to neurodocker https://github.com/NeuroDesk/neurodocker and create pull request to neurodocker
2) build container here https://github.com/NeuroDesk/caid
3) test container and if successful add container to Readme table here https://github.com/NeuroDesk/neurodesk

[2020-06-27 23:26] stebo85 opened #9 "matlab in containers"
https://github.com/mathworks-ref-arch/matlab-dockerfile

[2020-07-01 00:19] aswinnarayanan commented on #3
Added, layer caching using gh-package images. Closing

[2020-07-01 00:19] #3 closed

[2020-07-01 00:20] #4 closed

[2020-07-01 00:25] #7 closed

[2020-07-01 00:31] aswinnarayanan opened #12 "mrtrix3 build disk space requirement"
mrtrix3 build is exceeds the (~10GB) capacity on the github runner and failing.

The build process downloads a fsl package that is 3.9GB alone, we might need to find some way to optimise the build process, or try dockerhub for the container building

[2020-07-01 08:06] stebo85 commented on #12
That is problematic :( Is there any way to increase the build disk? Or can we start the mrtrix3 build based on our fsl image?

[2020-07-01 13:54] aswinnarayanan commented on #12
Doesn't look like we can increase the build disk :(
I'll look into this

[2020-07-01 22:31] stebo85 commented on #12
Ok, I have more ideas :) We could install fsl from neurodebian - we don't need the latest version of fsl for mrtrix. I can look into this :)

[2020-07-01 23:07] civier opened #13 "ReproNim/containers - containerized environments for reproducible neuroimaging"
https://github.com/ReproNim/containers
I've just learnt about this from Yaroslav Halchenko.
What can we learn from their implementation? what are the overlaps with our work?
Any thoughts?

[2020-07-02 00:57] stebo85 commented on #2
they are now tagged by date. I am happy with this solution for now :) @aswinnarayanan suggestion was to use the commit hash as well, which I think is a great idea - please reopen then :)

[2020-07-02 00:57] #2 closed

[2020-07-02 00:58] stebo85 commented on #5
problem: the free version only gives us 10gb of storage - or did I do something wrong? Should we setup an Australian Registry with  ARDC?

[2020-07-02 04:07] stebo85 commented on #12
I played with this and I might have found a solution @aswinnarayanan: It's not possible to increase the disc space, but it is possible to delete stuff on the builder before running :D With this little trick I can cleanup 24 GB of space:

 - name: Free disk space docker and swap (about 4GB)
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          do

[2020-07-02 04:24] aswinnarayanan commented on #12
Nice one!! :) The base image is quite bloated

[2020-07-02 04:33] aswinnarayanan commented on #5
@stebo85, with singularity pull from dockerhub also resolving any singularity version issues, should we close this? That seems like the most reliable method for now

[2020-07-02 04:49] stebo85 commented on #5
yes, I agree. Let's have someone else push the australian singularity hub - I think we can totally live with what we are doing now and can focus on more features :)

[2020-07-02 04:49] #5 closed

[2020-07-02 04:51] stebo85 commented on #12
Yes, I guess it makes sense for most people to have all dependencies already in the builder and this will save lot's of build time for lot's of people. The build is now already much further than it ever got, so I am hopeful that this is the solution to our problem (the altnernative would have been our own runner - but I am not keen on setting this up on nectar)

[2020-07-02 07:00] aswinnarayanan commented on #12
Thanks Steffen, amazing stuff!!! The debloated builds are working nicely.
We can move further changes to an optimisation discussion.
Closing

[2020-07-02 07:00] #12 closed

[2020-07-04 23:29] stebo85 opened #30 "Add nighres container"
Nighres is a Python package for processing of high-resolution neuroimaging data

https://github.com/nighres/nighres
https://nighres.readthedocs.io/en/latest/installation.html

[2020-07-09 03:59] stebo85 opened #14 "mrtrix3 mrview gui error dbus"

[2020-07-09 09:59] stebo85 commented on #14
fixed by adding dbus

[2020-07-09 09:59] #14 closed

[2020-07-09 10:00] #13 closed

[2020-07-10 00:21] stebo85 commented on #8
I created separate issues for the software that we would like to have in the respective repos

[2020-07-10 00:21] #8 closed

[2020-07-10 00:22] stebo85 commented on #9
currently I think it's best to install matlab on the main system - not in a container

[2020-07-10 00:22] #9 closed

[2020-07-13 21:14] stebo85 opened #15 "Add nighres container"
Nighres is a Python package for processing of high-resolution neuroimaging data

https://github.com/nighres/nighres
https://nighres.readthedocs.io/en/latest/installation.html

[2020-07-14 11:43] stebo85 opened #16 "add testdata to itksnap container"

[2020-07-15 10:12] civier opened #22 "Pulling singularity images vs. docker images"
Is it really faster for international users to pull docker images over singularity images?
If there was a singularity hub comparable to docker hub (I don't really know the current state of things), wouldn't it be faster to pull singularity images diretly?

On one hand, the singularity images are usually smaller than the docker images + we save the time required to unpack and convert to sif (which

[2020-07-15 10:50] stebo85 commented on #16
done :)

[2020-07-15 10:50] #16 closed

[2020-07-17 07:49] stebo85 opened #17 "build singularity package for builders and use that instead of compiling from source everytime"

[2020-07-17 07:49] stebo85 opened #18 "setup singularity and push to swift"
https://docs.openstack.org/python-swiftclient/latest/cli/index.html

[2020-07-17 10:18] stebo85 commented on #18
done :)

[2020-07-17 10:18] #18 closed

[2020-07-17 16:50] aswinnarayanan commented on #17
We could use the dockerized singularity base images -- https://github.com/singularityhub/singularity-docker
They're hosted on quay.io (https://quay.io/repository/singularity/singularity?tab=tags)

[2020-07-17 16:53] aswinnarayanan opened #19 "Standardise yaml template for recipes"

[2020-07-17 17:02] #19 closed

[2020-07-18 01:44] aswinnarayanan commented on #17
Singularity uses a docker image now. Closing

[2020-07-18 01:44] #17 closed

[2020-08-27 05:39] stebo85 opened #23 "remove latest tag"

[2020-08-27 06:06] #23 closed

[2020-08-27 07:48] stebo85 commented on #22
Singularity containers are now implemented :)

[2020-08-27 07:48] #22 closed

[2020-10-13 00:28] stebo85 opened #24 "add spinalcordtoolbox"
https://spinalcordtoolbox.com/en/latest/user_section/installation.html#install-with-docker

https://spinalcordtoolbox.com/en/latest/user_section/installation.html#install-from-package-recommended

[2020-10-14 02:29] #24 closed

[2020-10-14 03:44] aswinnarayanan opened #26 "Switch CI from set-env to Environment Files"
set-env is being deprecated due to a security vulnerability.
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

Need to move over to using environment files.

[2020-10-14 12:57] #26 closed

[2020-10-22 00:16] aswinnarayanan opened #27 "Need documentation for adding new recipe and ci"

[2020-10-27 23:10] stebo85 opened #28 "create a readme.md per recipe that we output when the containers start"

[2020-11-04 07:45] stebo85 opened #29 "add root package from cern"
https://hub.docker.com/r/rootproject/root
 ( http://root.cern.ch )

[2020-11-04 09:18] stebo85 commented on #28
started this with the new root package. More to come on updates

[2020-11-04 10:43] #29 closed

[2020-11-21 21:53] stebo85 opened #31 "add cmtk"
1) add recipe to neurodocker https://github.com/NeuroDesk/neurodocker and create pull request to neurodocker
2) build container here https://github.com/NeuroDesk/caid
3) test container and if successful add container to Readme table here https://github.com/NeuroDesk/neurodesk

[2020-11-21 22:04] stebo85 opened #32 "add gimp container"
GNU Image Manipulation Program 2.10.18 (Bitmap editing program)

[2020-11-21 22:10] stebo85 opened #33 "add SAMRI container"

[2020-11-23 02:21] stebo85 opened #34 "add bidsapps"

[2020-11-29 07:38] stebo85 commented on #33
currently runs in a build problem due to missing privileges:
https://github.com/gentoo/gentoo-docker-images/issues/98

Solution:
https://github.com/moby/moby/issues/1916
https://docs.docker.com/buildx/working-with-buildx/

[2020-12-03 11:35] stebo85 commented on #32
container is build - need to add to neurodesk apps.json

[2020-12-04 00:20] stebo85 opened #35 "Add bart toolbox for image recon"

[2020-12-17 23:26] stebo85 opened #36 "add mne-bids"
https://mne.tools/mne-bids

[2021-01-04 23:35] #34 closed

[2021-01-05 00:48] #28 closed

[2021-01-30 08:28] stebo85 commented on #32
done and tested

[2021-01-30 08:28] #32 closed

[2021-02-25 21:41] stebo85 opened #37 "add TractSeg"

[2021-02-25 22:14] stebo85 opened #38 "add lcmodel"

[2021-03-04 21:51] stebo85 opened #39 "add asl prep"
https://aslprep.readthedocs.io/en/latest/

[2021-03-04 22:33] stebo85 opened #40 "add romeo and clearswi"
https://github.com/korbinian90/ROMEO.jl
https://github.com/korbinian90/CLEARSWI.jl

[2021-03-29 04:47] stebo85 opened #41 "use docker scan to look for vulnerabilities inside images during build on github actions"
https://docs.docker.com/engine/scan/

[2021-03-29 04:47] #39 closed

[2021-05-13 01:23] #35 closed

[2021-05-13 01:23] #38 closed

[2021-06-01 00:34] stebo85 opened #43 "add nobrainer"

[2021-06-01 00:35] stebo85 opened #44 "add fastsurfer"

[2021-06-18 06:23] stebo85 opened #45 "add R"

[2021-06-18 06:24] stebo85 commented on #45
@isabellabreukelaar

[2021-06-18 06:30] stebo85 opened #46 "add brainnetviewer"
low priority @isabellabreukelaar

[2021-06-18 06:41] IsabellaBreukelaar commented on #45
also low priority :)

[2021-06-20 22:15] stebo85 commented on #41
There are several vulnerability scanning tools that you can easily incorporate into popular CI pipeline systems, including commercial solutions and open-source tools like Trivy or Anchore. Some scanners can also check for other security issues, like the presence of malware in an image.

[2021-06-21 10:05] stebo85 opened #47 "update SPM"
Use r7771 with a more recent MATLAB Runtime. The -nojvm' flag is used which prevents figures to display correctly (no menus).

[2021-07-26 22:30] stebo85 opened #48 "should we rename caid to NeuroContainers"
caid was the original name of this repo when I started building containers, but since then it has evolved quite a bit and is now the central point for building and providing containers for neurodesk. I think this repo is very worthwile on it's own, so should we rename it to NeuroContainers to make this clearer?

[2021-07-27 12:29] aswinnarayanan commented on #48
Sounds good. Should we do "neurocontainers"?

[2021-07-27 22:54] stebo85 commented on #48
ok, renamed :) It shouldn't cause any issues - but I guess we will find out if it does :D

[2021-07-27 22:54] #48 closed

[2021-08-10 23:30] aswinnarayanan opened #49 "Add STIR"
http://stir.sourceforge.net/

[2021-08-22 21:34] stebo85 opened #50 "github registry now supports singularity containers"
Should we also push our singularity containers to github?
https://github.com/singularityhub/github-ci

[2021-08-23 04:49] aswinnarayanan commented on #50
Sounds good

[2021-08-31 13:14] civier opened #51 "Install the Linux utility "less" in the MRtrix3 container"
MRtrix3 uses "less" when displaying help for commands. However, "less" is not included in mrtrix3_3.0.1_20200908 (but check latter versions)

[2021-09-14 13:32] civier opened #53 "Unnecessary files in aslprep_0.2.7_20210323"
aslprep_0.2.7_20210323 has many files in /tmp (source and build of ants), which unnecessary contribute to the size and number of files in the container.

[2021-09-17 09:39] stebo85 commented on #53
We do not build aslprep ourselfs, but pull it directly from the developer: https://hub.docker.com/r/pennlinc/aslprep/tags?page=1&ordering=last_updated

Please flag this directly with the container developer

[2021-09-17 09:39] #53 closed

[2021-09-17 09:40] stebo85 commented on #10
out of scope for our project

[2021-09-17 09:40] #10 closed

[2021-09-18 05:37] civier commented on #53
Cool. I didn't know it's possible that easily.
Can we include in NeuroDesk any containers whatsoever, or does it need to
comply with some requirements?
What happens if the container is using one of the paths where we bind
things?
How do you know where the executables within the container are? (just
exploring the container?)

Best,
Oren

On Fri, Sep 17, 2021 at 7:40 PM Steffen Bollmann ***@***.***>

[2021-09-18 08:10] stebo85 commented on #53
Dear @civier ,

Yes, in principle we can use any container as a base. We then add customizations around it in the buildscripts. See the aslprep example here: https://github.com/NeuroDesk/neurocontainers/blob/master/recipes/aslprep/build.sh

if a container would use a directory where we bind directories, these directories will be overritten.

The binary paths are defined via the DEPLOY_BINS variabl

[2021-09-18 11:44] stebo85 commented on #51
done and is now in mrtrix 3.0.3

[2021-09-18 11:44] #51 closed

[2021-09-20 00:22] stebo85 opened #54 "add OSIPI ASL software and create new ASL subcategory?"
https://docs.google.com/document/d/e/2PACX-1vQ-1GF2fmz6Q4IukuKP_-57H-xi872Xq_uBlX5P0Cwpj4RYd_t73pvZ64UqXegPaVpQJhQQrVRJRPro/pub

[2021-09-21 07:06] DavidjWhite33 opened #55 "Using MATLAB Compiler to create standalone packages"
Hi @stebo85, wondering if you already documented a workflow for compiling MATLAB packages not already compiled (eg. when building CONN)? If so, could you please share?

Ie. did you use the MATLAB compiler for your CONN archive, or is this a compiled version accessed by the developers (https://objectstorage.us-ashburn-1.oraclecloud.com/n/nrrir2sdpmdp/b/neurodesk/o/conn20b_mcr2020b.tar.gz)

Also, sh

[2021-09-21 21:16] stebo85 commented on #55
@civier and @DavidjWhite33 - I trasnferred the issue to the neurocontainers repo

[2021-09-21 22:47] DavidjWhite33 commented on #55
@stebo85 Agreed that using compiled versions released by developers makes sense wherever possible. I am looking at a couple of toolboxes at the moment - but one important one is EEGLAB. This is an interesting case because they have a standalone compiled version to run with MCR, but have stopped releasing this for linux as of their first 2020 release. In addition, there is perhaps an argument for t

[2021-09-21 23:05] stebo85 commented on #55
Fully agree! Octave is an interesting option and SPM runs very well in Octave as well. This is something we should explore if we can find the time for this.

I also just figured out a sneaky way of compiling matlab code on github automatically :D we could use the official matlab container (https://hub.docker.com/r/mathworks/matlab) and inject our university license in there in case we have the clo

[2021-09-21 23:12] stebo85 opened #56 "Matlab containers"
It looks like it is possible to package matlab in our singularity containers. We only would need to document how users can inject their license (e.g. by placing a license file in the /neurodesktop-storage folder?

Anyone interested to work on this issue?
https://au.mathworks.com/help/cloudcenter/ug/matlab-container-on-docker-hub.html#:~:text=MATLAB%20Container%20on%20Docker%20Hub%20Access%20MATLAB

[2021-09-22 01:49] civier commented on #55
Thanks for the valuable information, @stebo85 <https://github.com/stebo85>
I'm trying to read through here:
https://au.mathworks.com/help/licensingoncloud/ug/configure-license-for-mathworks-containers.html
But will have to play with it a bit.

BTW, did you manage to run the Matlab IDE (not the container) with your UQ
site license on NECTAR? Until now, I've just used an individual license
(that eac

[2021-09-22 01:54] stebo85 commented on #55
Ok, great :) looking forward to see your progress on this.

I haven't used Matlab for a few years, so no I haven't tried running it on nectar :)

[2021-09-22 09:17] civier opened #57 "FYI: --matlabmcr option is apparently not available in neurodocker anymore"
@DavidjWhite33 FYI

Building containers with matlab MCR does not work because neurodocker does not receive anymore the --matlabmcr option.

It is not listed in the help of neurodocker:
https://www.repronim.org/neurodocker/user_guide/cli.html
And is indeed not in the github code of neurodocker, as far as I can see:
https://github.com/ReproNim/neurodocker

It did exist in the documentation of older

[2021-09-22 10:45] stebo85 commented on #57
They seem to install the matlab MCR manually in their SPM template: https://github.com/ReproNim/neurodocker/blob/master/neurodocker/templates/spm12.yaml

We manually sync the fork when needed.

[2021-09-22 11:15] civier commented on #57
Yes. I found the same re spm12. Wonder why they made the change?

Is there any way to trigger a test rebuild (that doesn't actually update
the packages repository, but only checks the exit codes) of all containers
every time we sync neurodocker? This will ensure that the syncing does not
break anything.
Or is it too expensive? what are the limits on our CI resources?

On Wed, Sep 22, 2021 at 8:45

[2021-09-22 11:41] stebo85 commented on #57
it's possible, you could add this check in the gitlab actions run. There is currently no limit on CI.

[2021-09-22 11:51] stebo85 commented on #27
I started this in the developer section - what else would it need?

[2021-09-22 23:32] civier commented on #57
Ok. I'll have to learn how to do that.
I'll add it to my to do list.

--
Oren Civier
Neuroimaging Informatics Fellow
Swinburne Neuroimaging | National Imaging Facility
https://anif.org.au/team/oren-civier/
https://www.swinburne.edu.au/neuroimaging

Swinburne University of Technology
Hawthorn Campus, Advanced Technologies Centre, Room 914
+61 3 9214 4628 | +61 4 3101 6603
***@***.*** (Email/Teams v

[2021-09-22 23:59] civier opened #58 "Provide more elaborate instructions on adding software containers to neurocontainers"
Hello all,

I wrote more elaborated instructions on adding software containers, as it be a bit tricky to people who don't regularly work with github (especially with the new Personal Access Token and the fact that the workflow is updated as well).

@stebo85 @aswinnarayanan Can you approve?
@air2310 Nice to meet! Could you please update it in the documentation after Steffen/Aswin approve, and post

[2021-09-23 04:11] stebo85 commented on #58
Dear @civier ,

The container building was documented here: https://neurodesk.github.io/developers/new_tools/add_tool/

and I now added your additional steps in between.

I also added @civier @air2310 @DavidjWhite33 @willw1 as Admins to the neurodocker repository fork so you can pull in changes from upstream, create branches with new features and submit pull request to the upstream project.

Cheer

[2021-09-23 04:11] #58 closed

[2021-09-27 00:38] #27 closed

[2021-09-27 23:44] stebo85 opened #59 "install R + extensions proof of concept"

[2021-09-30 21:57] stebo85 commented on #56
@civier is anyone looking into getting Matlab containers working? If not I could have a look at this next week.

[2021-10-01 01:56] civier commented on #56
Hello Steffen,

This is my plan:
1) make it easy for users to add into NeuroDesk a container with an already-compiled Matlab software (e.g., CONN)
2) Let users use Matlab IDE in NeuroDesk using individual or site license
3) have instructions on how users can compile their own MATLAB pipeline (and make a container out of it) so other NeuroDesk users can use it without license

I'm not sure if the M

[2021-10-04 22:31] stebo85 commented on #56
Dear @civier,

Ok, would be great to see this working!

Kind regards
Steffen

[2021-10-04 22:34] stebo85 commented on #59
will work on this tomorrow, also remember to close issue #45 once this is completed

[2021-10-04 22:37] stebo85 opened #60 "add Tarquin"
https://sourceforge.net/projects/tarquin/files/

[2021-10-04 22:39] stebo85 commented on #57
This has been added back to neurodocker: https://github.com/ReproNim/neurodocker/pull/422

[2021-10-12 00:29] civier commented on #56
Hi Steffen,

Dave and I are still working on adding NeuroDesk containers with compiled
MATLAB packages. It is the top priority for us.
Only when the procedure will be in place, I'll move to the MATLAB
container/IDE. If it is urgent, you're welcome to take a shot at that and
keep me in the loop.
(sorry again for the slowness, but as you probably know, we are still under
lockdown with kids at home.

[2021-10-12 00:32] stebo85 commented on #56
Ok, sounds good. Happy to help if you are stuck at anything.

[2021-10-12 21:15] stebo85 opened #61 "scan containers on cvmfs 0"

[2021-10-12 21:16] stebo85 opened #62 "snyk security scan after build on github"

[2021-10-12 21:18] #62 closed

[2021-10-14 02:02] civier commented on #57
Hello @stebo85

@DavidjWhite33 , @TomEmotion and I are working on getting back a proper Neurodesk version like the one you used when building CONN. We tested it, and the version that they want to merge (it actually hasn't been merged yet) does have Matlab MCR, but apparently, is missing other required utils.

You built CONN last on 22/3/2021:
https://github.com/NeuroDesk/neurocontainers/pkgs/conta

[2021-10-14 02:04] civier commented on #57
@stebo85 Notice that I edited the previous comment!

[2021-10-14 02:28] stebo85 commented on #57
@civier and @aswinnarayanan - I had to reset the fork in neurodesk to the upstream one because we were not able to merge anymore. I kept a backup here: https://github.com/stebo85/neurodocker-old-fork - Oren, if you use the old fork conn should build again.

[2021-10-14 02:43] TomEmotion commented on #57
Thanks Steffen. Dave and I found your backup. Did you put in a pull request to repronim for the changes you made to get CONN working and it either wasn't merged or was subsequently deleted? In any case, Dave will grab the changes you made in there (mainly the relevant yaml files) and use them to get the MCR working again in Neurodocker. Once we have that working we'll submit a pull request to get

[2021-10-14 02:44] aswinnarayanan commented on #57
@civier. Yup I was just referring to the neurocontainers version

[2021-10-14 04:13] stebo85 commented on #57
Yes, I had submitted multiple pull-requests to the neurodocker-upstream project, but they didn't get merged. Then the forks got out of sync and I had to reset it.

[2021-10-15 01:10] TomEmotion commented on #57
Yes, exactly - that is what I was suggesting. In that way, for example, we would have a branch that includes the changes you made to get CONN built.

[2021-10-16 00:41] DavidjWhite33 commented on #57
Thanks @stebo85 - from the looks of the merged changes in the Repronim repo, our only required changes will be to include more recent runtime versions (so we can disregard the matlabmcr.yaml I've added to our fork, apart from grabbing the links to more recent versions).

[2021-10-17 22:24] stebo85 opened #63 "add HCP pipelines"
https://github.com/Washington-University/HCPpipelines

[2021-10-18 10:49] stebo85 commented on #57
Yes, that looks good :)

I had to move your changes to a separate branch, otherwise we cannot sync with upstream. Do not commit changes to the master branch - always keep it in dedicated branches, otherwise we can not send pull requests or update from upstream :)

your branch is here now: https://github.com/NeuroDesk/neurodocker/tree/david-white-add-matlab-mcr

[2021-10-22 11:14] civier opened #64 "Added a new application/container recipe into neurocontainers, but the Github action to build it is not triggered"
Pretty sure I pushed my new application folder properly into https://github.com/NeuroDesk/neurocontainers/tree/master/recipes, but there are no new actions here:
https://github.com/NeuroDesk/neurocontainers/actions

[2021-10-22 11:17] #64 closed, assigned to civier

[2021-10-26 01:20] stebo85 opened #65 "Add laynii toolbox"

[2021-11-01 00:46] stebo85 commented on #57
closing as MCR is added back in and we submitted the pull request

[2021-11-01 00:46] #57 closed

[2021-11-02 22:14] stebo85 commented on #59
closing this for now as it all seems to work :)

[2021-11-02 22:14] #59 closed

[2021-11-02 22:15] stebo85 commented on #55
closing for now, as compiling of matlab toolboxes works right now

[2021-11-02 22:15] #55 closed

[2021-11-24 00:38] stebo85 opened #66 "python + vscode + jupyter inside container"

[2021-11-24 00:40] stebo85 commented on #36
need to fix #66 first

[2021-11-29 02:31] stebo85 opened #67 "Add CAT12 + phsyio = SPM12 with toolboxes"
SPM toolbox

[2021-11-29 06:26] aswinnarayanan opened #68 "Update Datalad from 0.13.3 to 0.15.3"

[2021-11-30 00:18] stebo85 opened #69 "add sovabids"

[2021-12-01 00:40] #68 closed

[2021-12-03 07:13] civier opened #79 "Requirements for Neurodesk container / Matlab compilation development environment"
Hi @stebo85,

Today I worked with @JD-Zhu (Judy), @neuro-sevas (Steff) and @DavidjWhite33 (Dave) on compiling fieldtrip and building a container (we had to rebuild because there were some issues with the version compiled by the CI), and we came up with a shortlist of things that need to be in an ideal development environment.

You told me that you'll work on the environment, so let us know if one

[2021-12-04 23:27] stebo85 commented on #47
modify neurodocker recipe based on:
https://github.com/spm/spm-docker

and minimize matlab install based on
https://github.com/spm/spm-docker/pull/2

then add physio package as spm version

[2021-12-04 23:30] stebo85 commented on #66
https://github.com/truatpasteurdotfr/singularity-debian9-visualstudio

https://github.com/truatpasteurdotfr/singularity-debian10-visualstudio

https://github.com/truatpasteurdotfr/singularity-debian11-visualstudio

[2021-12-06 00:57] stebo85 commented on #47
test, if this problem is solved as well:
https://github.com/ReproNim/neurodocker/issues/418

[2021-12-06 01:42] stebo85 opened #84 "add more informative prompt in containers"
https://stackoverflow.com/questions/61116965/how-to-change-the-default-prompt-in-a-singularity-container

[2021-12-06 01:50] stebo85 opened #85 "freesurfer lacks mcr"
fs_install_mcr R2014b

[2021-12-07 07:04] thomshaw92 opened #90 "Spinal Cord Toolbox fixes"
Need to install Version 5.4
I've noticed some of the templates that should be installed automatically with SCT are not available using the containers:
![image](https://user-images.githubusercontent.com/31721414/144971628-9f92e6a9-6665-4686-9c89-be17249f11b2.png)

I believe this is the SCT_DIR env missing

[2021-12-09 07:13] stebo85 commented on #84
@AKSoo suggested:
Changing the .desktop shortcut Exec to /bin/bash -c 'cat readme; $SHELL' accomplishes what I have in mind, but I am not sure how to implement this in the neurodesktop image

[2021-12-09 07:15] aswinnarayanan commented on #84
We can do that via neuroommand. Pretty straight forward
It would then deploy onto neurodesktop correct?

[2021-12-09 07:34] AKSoo commented on #84
The suggestion was more for neurodesktop menu shortcuts. Bash `--rcfile` option may be also relevant. https://stackoverflow.com/questions/33961229/how-to-source-additional-file-when-launching-bash

[2021-12-09 07:48] aswinnarayanan commented on #84
Thanks @AKSoo
neurocommand creates the menu entries. I'll push this change through shortly

[2021-12-09 23:31] civier opened #91 "Adding SOVABIDS to the NeuroDesk Conda environment container"
Hi Angela,

Can SOVABIDS be included in the container with the Python conda environment if it needs to be cloned from Github and then piped (https://sovabids.readthedocs.io/en/latest/README.html#installation), or do you only include things that can be conda-installed or piped directly from repositories? Is there a specific problem to clone things from Github first?

If we can add the SOVABIDS inst

[2021-12-10 00:52] stebo85 commented on #91
This is possible, but we first need to finish #66 before we can do this

[2021-12-10 12:39] aswinnarayanan commented on #41
Scanning neurodesktop base container has been enabled in https://github.com/NeuroDesk/neurodesktop/commit/1033b321c31713ab9b3610736f4aeee730ad4eea

Shelving the neurocontainer scanning for now as it is currently un-tenable, the neurocontainers have a wider variety of older ubuntu/centos base images that can't be updated. Security model is moving towards locking down the neurocontainers, and keepin

[2021-12-10 12:39] #41 closed

[2021-12-12 00:18] stebo85 commented on #60
and other non-matlab packages from here: https://mrshub.org/

[2021-12-13 01:05] stebo85 commented on #41
great :) thank you!

[2021-12-13 04:50] stebo85 commented on #90
Dear @thomshaw92 - sct is updated to 5.4 and this bug is fixed in the latest neurodesk version: 20211213

Can you test and report if this works?

Kind regards
Steffen

[2021-12-15 04:40] stebo85 commented on #47
done and all working :)

[2021-12-15 04:40] #47 closed

[2021-12-15 06:35] stebo85 commented on #84
there are 3 issues here:

- [ ]  change name of prompt

- [ ] display readme when running GUIs

- [ ] create citeme file on desktop based on README.md  (https://github.com/NeuroDesk/neurodesk.github.io/issues/75)

[2021-12-15 07:56] yjmantilla commented on #91
I'm hella busy but maybe ring me when #66 is done.

[2021-12-18 23:58] stebo85 commented on #90
Dear @thomshaw92 - did you have chance to test if SCT works now correctly? Then I can close this issue :)

[2021-12-18 23:59] stebo85 commented on #46
MRIcro GL is available now @IsabellaBreukelaar -brainnetviewer comes next :)

[2022-01-17 06:13] stebo85 commented on #85
done and tested

[2022-01-17 06:13] #85 closed

[2022-01-18 03:27] stebo85 commented on #69
duplicate from #91

[2022-01-18 03:27] #69 closed

[2022-01-19 00:04] stebo85 commented on #67
CAT12 comes in an MCR version already: http://141.35.69.218/cat12/

Add Nipype as well in the container as requested here: https://github.com/ReproNim/neurodocker/issues/407

[2022-01-21 06:58] stebo85 commented on #66
completed :) https://github.com/NeuroDesk/neurocontainers/tree/master/recipes/mne

[2022-01-21 06:58] #66 closed

[2022-01-21 06:59] stebo85 commented on #91
#66 is now completed.

If anyone is keen to add Sovabids you can follow this example:
https://github.com/NeuroDesk/neurocontainers/tree/master/recipes/mne

Cheers
Steffen

[2022-01-21 16:52] yjmantilla commented on #91
@stebo85 I'll keep that in mind although my time has been really limited

[2022-01-22 05:18] civier commented on #91
Hi Steff (
@neuro-sevas)
I tag you on this issue, in case you want to give a SOVABIDS container a go. If you use the mne example, you can just keep VScode in, as people might like to interact with SOVABIDS through python code.
Best,
Oren

[2022-01-31 10:57] stebo85 commented on #36
This is included in the MNE container as   - mne-bids=0.8=pyhd8ed1ab_2

[2022-01-31 20:47] stebo85 opened #95 "change prompt name in singularity containers from Singularity> to version of tool"

[2022-01-31 23:15] stebo85 commented on #90
Dear @thomshaw92 did you have a chance of testing this? I also updated to the latest version of sct :)

[2022-01-31 23:16] stebo85 commented on #95
discussed in #84

[2022-01-31 23:54] thomshaw92 commented on #90
Sorry for the slow response. 5.4 was working at last test - will test 5.5 today :D

[2022-02-01 02:58] stebo85 commented on #67
completed :)

[2022-02-01 02:58] #67 closed

[2022-02-03 08:28] civier commented on #79
Hi @stebo85 @aswinnarayanan @air2310

I don't know if you ended up having some standard development environment, but we are now going to do some container development work, and started to think on the best platform for such an environment.

I am considering two main options:
1) A NECTAR instance
2) A Neurodesktop version for container development

For number 2, we will have to run docker within do

[2022-02-03 08:52] stebo85 commented on #79
I use a nectar instance for development purposes of containers and that works very well.

I also tested to run docker inside a neurodesk environment and that also works - the trick is to mount -v /var/run/docker.sock:/var/run/docker.sock into the neurodesktop container and then you can install docker inside the container and use the host's docker

[2022-02-03 10:55] civier commented on #79
Great. I'm happy to hear that both options are feasible.

I do have some questions regarding the root partition of the NECTAR instance, if you don't mind (relevant to 1, and also to 2, if we run Neurodesktop on NECTAR):
How large is the root partition you use? The default of NECTAR is 30G, which I usually find too small. If you have a larger one, who should I contact in NECTAR in order to have the

[2022-02-03 11:02] stebo85 commented on #79
I am not sure if this is the best way of doing it, but moving the docker image cache to an attached ephemeral disk works well:
https://forums.docker.com/t/how-do-i-change-the-docker-image-installation-directory/1169

sudo service docker stop
sudo mv /var/lib/docker /storage/scratch/docker
sudo ln -s /storage/scratch/docker /var/lib/docker
sudo service docker start

[2022-02-03 11:12] aswinnarayanan commented on #79
Hi @civier, I use a nectar instance as well for development. Tbh, I haven't run out of storage so far as

Agreed with @stebo85's points above.

I think Nectar images have limited root partitions. You can request a Volume allocation.
Then create a Volume from your nectar project's volume panel, and attach it to your instance.
It attaches as a block volume device, so shouldn't be any performance pen

[2022-02-14 10:08] civier opened #97 "Is it possible to build container for Neurodesk on Mac, Windows?"
Hi all,

I'm trying to motivate as many people as possible to contribute containers to Neurodesk, and I just wonder: must one has a Linux machine for that? or can the containers be built on Mac or Windows?
I did a quick search and found this:
https://blog.jaimyn.dev/how-to-build-multi-architecture-docker-images-on-an-m1-mac/
so I guess it's possible, at least on Mac. The question if it's practical

[2022-02-14 12:12] aswinnarayanan commented on #97
Hi @civier. This architecture refers to the CPU architecture of the underlying machine, not specifically the OS.

The neurocontainers (and neurodesktop) should run on any Linux, Windows and Mac using a standard Intel or AMD cpu (x64, x86-64,  AMD64), via their respective installation of docker. (Technically, they all the docker engines run on linux, but this is taken care by the docker installatio

[2022-02-14 22:26] aswinnarayanan commented on #97
Oh ok. I've used Windows to build containers.
The neurocontainers require a Linux environment to run the builds scripts, so I used neurodesktop to run them scripts and generate the recipes. Then I built the docker image from the recipes in docker for windows for testing.

[2022-02-14 22:58] stebo85 commented on #97
Yes, you can build the containers on Mac or Windows as long as it is a x86_64 processor and not the new M1 chip, however it's easiest to build them on Linux or WSL2 as we wrote all scripts for it and it would need adjustments to make these work in native windows or mac.

[2022-02-14 22:58] #97 closed

[2022-02-21 09:49] stebo85 commented on #95
started working on this: will add another configuration file in singularity on cvmfs:

    # echo "check if custom promt exists for singularity:"
    # if [[ -f "/cvmfs/neurodesk.ardc.edu.au/containers/${IMAGENAME_BUILDDATE}/${IMAGENAME_BUILDDATE}.simg/.singularity.d/env/99-zz_custom_env.sh" ]]
    # then
    #     echo "99-zz_custom_env exists for ${IMAGENAME_BUILDDATE} on cvmfs"
    # else
    #

[2022-02-25 01:44] civier commented on #91
Right now the urgency is to have the newest version of BIDScoin, so I will work on SOVABIDS only later. Marked as "wontfix right now".

[2022-02-25 01:54] civier opened #101 "New container for the latest version of BIDScoin"
I will create a container with the newest version of BIDScoin. The name of the container will be bidscoin rather than bidstools because I want the version number to be included in the container name. The reason is that there are different versions of BIDScoin, and it is important for people to know which are available in Neurodesk (because some features are only included in the the latest versions

[2022-02-25 06:48] stebo85 commented on #101
ok, great!

[2022-03-01 05:19] civier commented on #101
@stebo85 @aswinnarayanan I'm working on the container now. Can you please pull-in the latest changes from Neurodocker upstream into our fork of Neurodocker?

[2022-03-01 05:40] stebo85 commented on #101
Dear @civier - I updated it from upstream. However, you could have done this yourself - just click on fetch upstream in the neurodocker fork.

[2022-03-01 06:42] civier commented on #101
Ah, ok. I just followed the instructions in point 1.2 here https://neurodesk.github.io/developers/new_tools/add_tool/#build-container
that say to contact one of the admins.

I then went here https://github.com/orgs/NeuroDesk/people?query=role%3Aowner
and saw that I'm not one of the owners.

So I guess that 'owner' and 'admin' are different, but how can a user see who are the admins?

[2022-03-01 06:47] aswinnarayanan commented on #101
Hi @civier, that is the organisation level permission.
You and @DavidjWhite33 have admin roles on NeuroDesk/neurodocker and write roles on NeuroDesk/neurocontainers repositories.
It should be visible here https://github.com/NeuroDesk/neurocontainers/settings/access

[2022-03-01 06:55] civier commented on #101
Hi @aswinnarayanan
When I go to think link it tells me that I'm entering sudo mode and ask for my password, so I don't think this is something users would be able to access. Am I right?

[2022-03-01 06:57] civier commented on #101
In any case, wouldn't it be easier to simply ask users to post a request in Neurodesk' Discussion form if they want neurodocker to be synched?

[2022-03-01 06:59] aswinnarayanan commented on #101
That's what the instructions already say at https://neurodesk.github.io/developers/new_tools/add_tool/#build-container

But you're one of the NeuroDesk/neurodocker admins, so you don't have to follow the user procedure

[2022-03-03 11:55] stebo85 opened #103 "add mricron"
https://github.com/neurolabusc/MRIcron/releases

[2022-03-04 03:34] civier opened #104 "Launching BIDScoin 3.7.0 app from the menu tested"
I tested the launching of BIDScoin 3.7.0 from the menu. The main utils (bidsmapper, bidscoiner) seem to work fine.
Can be included in next release.

[2022-03-04 03:37] stebo85 commented on #104
ok, I added it to the next release: https://neurodesk.github.io/docs/neurodesktop/release-history/

[2022-03-04 03:37] #104 closed

[2022-03-10 07:08] TomEmotion commented on #103
I take it this to cater to users who can't use MRIcroGL due to graphics acceleration requirements?
Would it make sense to package MRIcron within the MRIcroGL container?

Regardless, happy to have a stab at creating this as part of my container creation learning experience (currently creating some electrophys viewers).

[2022-03-10 07:15] stebo85 commented on #103
MRIcroGL runs really well even without graphics acceleration :) But a user at CAI requested mricron because it still has some nice features although discontinued. Our IT team at CAI wanted to tackle this container as a practice session tomorrow and I am not sure if they started already. Would you like to wait a few days until I know or maybe there is another tool that you know well and is still mi

[2022-03-10 07:15] TomEmotion opened #105 "Add sigviewer"
Add sigviewer:
https://github.com/cbrnr/sigviewer

Viewer for EEG/MEG time series data.

[2022-03-10 07:16] TomEmotion commented on #105
Will do this myself - how do I assign this to myself?

[2022-03-10 07:18] stebo85 commented on #105
that would be super cool and should be very easy to add: https://launchpad.net/ubuntu/+source/sigviewer I would use https://github.com/NeuroDesk/neurocontainers/blob/master/recipes/datalad/build.sh as a starting point and then it should just install as a normal package :)

[2022-03-10 07:19] stebo85 commented on #105
there should be a little button to do this?
![image](https://user-images.githubusercontent.com/4021595/157609098-2bbf002f-3651-45d3-80da-16d96afe4459.png)

[2022-03-10 07:28] TomEmotion commented on #105
No, I don't have any of the gear wheels down the side.

[2022-03-10 07:29] TomEmotion commented on #103
Sure, no problem.

[2022-03-10 07:32] stebo85 commented on #105
i added you to the repo as Maintainer, can you try again?

[2022-03-10 07:39] TomEmotion commented on #105
Fixed - thanks!

[2022-03-10 13:24] emmabiondetti opened #106 "Add NiftyReg"
Add NiftyReg:
https://github.com/KCL-BMEIS/niftyreg

NiftyReg is open-source software for rigid, affine and non-linear registration of nifti or analyse images.

[2022-03-11 02:46] stebo85 commented on #103
Done by CAI IT @ahockings

[2022-03-11 02:46] #103 closed

[2022-03-11 02:57] stebo85 commented on #101
completed.

[2022-03-11 02:57] #101 closed

[2022-03-12 04:14] yjmantilla commented on #91
From Oren_

If one of you finds time to build a SOVABIDS container for Neurodesk, I just wanted to let you know that I already built a BIDScoin container with the latest version:
https://github.com/NeuroDesk/neurocontainers/tree/master/recipes/bidscoin
So you can use it as a template for the SOVABIDS container.

[2022-03-12 06:16] civier commented on #91
SOVABIDS is a special case because it has GUI that can be used independently, but it can also be used via Python. So I'm not sure what will be the best solution for it:
One option is to include it only in the Python environment, but add a menu entry for the GUI (but then people need to download the whole environment, in case they don't work with CVMFS)
Another option is to include SOVABIDS both in

[2022-03-15 03:57] DavidjWhite33 opened #107 "MNE Python (update) and MNE BIDS Pipeline"
The MNE BIDS Pipeline (https://github.com/mne-tools/mne-bids-pipeline/) has some additional dependencies to the current MNE conda environment. There is a version of the MNE BIDS Pipeline from around the time of the current MNE release (0.24.1), and I will create a container with this MNE version, the extra dependencies, and the Pipeline scripts.

Moving forward, it looks like the MNE BIDS Pipeline

[2022-03-15 04:03] stebo85 commented on #107
cool - that's great :) Thank you for looking into this

[2022-03-15 04:24] TomEmotion commented on #105
So a final hiccup - the container worked within Neurodesktop when I dowloaded it manually, but does not load from the menu now that Sigviewer is in the current Neurodesktop release.

I don't know if it's related to this:
In the build script, @stebo85 you commented to not expose the whole /usr/bin directory, and deleted that line I think. I understand the rationale, but what's the option when the s

[2022-03-15 05:22] air2310 commented on #107
Thanks for the heads up @DavidjWhite33 - I've never used it before and hand't realised it wasn't working. I can't forsee any isues with having the two separate containers as long as they're clearly named :)

[2022-03-15 07:07] stebo85 commented on #105
ok, thank you for finding this. I am investigating the problem now.

I don't think it's related to removing `--env DEPLOY_PATH=/usr/bin/` because it only requires this or '--env DEPLOY_BINS=${toolName}' - DEPLOY_PATH will release ALL binaries, DEPLOY_BINS only a list of specified binaries that are on the $path

[2022-03-15 07:26] stebo85 commented on #105
found the problem @TomEmotion

the version number of sigviewer was "0.6.4-1" - the -1 was the problem because it's used to separate fields in the strings. I now fixed it and will push the changes through.

Thank you again for checking and finding this problem.

Cheers
Steffen

[2022-03-15 07:26] #105 closed

[2022-03-15 07:31] stebo85 commented on #106
--workdir=/opt/niftyreg-builder \
   --run="curl -fsSL --retry 5 https://github.com/KCL-BMEIS/niftyreg/archive/${niftyreg_commit_sha}.tar.gz | tar -xz -C ./" \
   --run="mv niftyreg-${niftyreg_commit_sha} src && mkdir build" \
   --run="cmake -S src -B build -D CMAKE_INSTALL_PREFIX=/opt/niftyreg-${niftyreg_version}" \
   --run="cd build && make && make install" \

[2022-03-15 09:51] stebo85 commented on #105
Tested and working in vnmd/neurodesktop:20220315

[2022-03-17 01:22] stebo85 commented on #106
Dear @emmabiondetti

niftyreg is now included in neurodesk version "20220317" -  can you test and let me know if it works as expected?

Cheers
Steffen

[2022-03-21 03:18] aswinnarayanan opened #109 "Support for Neurodocker Version 0.8.0"
Neurodocker refactor released (v0.8.0) https://github.com/ReproNim/neurodocker/releases/tag/0.8.0

[2022-03-21 07:03] stebo85 commented on #109
As far as I know we updated already most recipes to use the v0.8.0 syntax as we have been using the master tree since a while. A few things changed around miniconda and I fixed the occurences that I knew of

[2022-03-21 09:52] aswinnarayanan commented on #109
No worries then. Closing

[2022-03-21 09:52] #109 closed

[2022-03-25 12:09] emmabiondetti commented on #106
Dear Steffen,

I have tested the installation of niftyreg, and it all works fine.

Thanks,
Emma

[2022-03-26 01:01] stebo85 commented on #106
Thank you so much :)

[2022-03-26 01:01] #106 closed

[2022-03-28 05:39] DavidjWhite33 commented on #107
MNE Python have now released a version 1.0.0. This version works with the MNE BIDS Pipeline, so I've put both the MNE 1.0.0 conda env and extra dependencies for MNE BIDS Pipeline code together. These extra dependencies are in the mne-starter.yml in my forked 'condaenvs', and can merge if everyone is happy for these to be added to the mne conda environment.

[2022-03-28 05:39] #107 closed

[2022-03-28 06:08] stebo85 commented on #107
Thank you :)

[2022-03-29 04:33] stebo85 opened #113 "harden CVMFS setup"

[2022-03-29 04:34] stebo85 commented on #113
- create DNS names for CVMFS servers
- create backup stratum0 and test failover
- monitoring of CVMFS servers via grafana?
- evaluate apache logfiles?

[2022-03-30 05:31] stebo85 opened #114 "add Clinica and ClinicaDL"
https://github.com/aramis-lab/clinica

Clinica is a software platform for clinical research studies involving patients with neurological and psychiatric diseases and the acquisition of multimodal data (neuroimaging, clinical and cognitive evaluations, genetics...), most often with longitudinal follow-up.

Clinica is command-line driven and written in Python. It uses the [Nipype](https://nipype.rea

[2022-03-30 05:31] stebo85 opened #115 "add MIRT toolbox"
https://web.eecs.umich.edu/~fessler/code/
Michigan Image Reconstruction Toolbox (MIRT)

The Michigan Image Reconstruction Toolbox (MIRT) is a collection of open source algorithms for image reconstruction (and related imaging problems) written in Mathwork's Matlab language. This software was developed at the University of Michigan by [Jeff Fessler](https://web.eecs.umich.edu/~fessler/) and his [gro

[2022-03-30 05:33] stebo85 opened #116 "add Brainstem Navigator"
https://www.nitrc.org/projects/brainstemnavig/?s=09

The Brainstem Navigator toolkit is a collection of in-vivo brainstem nuclei atlas labels, MRI templates and documentation. The atlas is in stereotactic space and includes gray matter brainstem regions involved in arousal/sleep, autonomic, motor, sensory and limbic function. The atlas labels of brainstem nuclei were created by semi-automatic and

[2022-03-30 05:35] stebo85 opened #117 "add FLUX: A pipeline for MEG analysis"
https://neuosc.com/flux/

https://www.sciencedirect.com/science/article/pii/S1053811922001768?dgcid=rss_sd_all

[2022-03-30 05:39] stebo85 opened #118 "Add HCP Tutorial data to Connectome Workbench container"
https://balsa.wustl.edu/study/kN3mg

[2022-03-30 06:18] stebo85 opened #119 "add vesselvio tool"

[2022-03-30 06:22] stebo85 commented on #46
brainnetviewer: https://www.nitrc.org/projects/bnv/

[2022-03-30 21:12] IsabellaBreukelaar commented on #46
Amazing! Thank you Steffen and team :)

[2022-04-09 05:43] stebo85 opened #121 "add qmrlab via octave"
qMRLab can work via octave https://qmrlab.readthedocs.io/en/master/install.html#qmrlab-in-octave

[2022-04-19 07:16] stebo85 commented on #90
@thomshaw92  tested and confirmed it's working

[2022-04-19 07:16] #90 closed

[2022-05-25 04:14] stebo85 commented on #56
Matlab now has a feature to package compiled applications direclty into a docker container: https://www.mathworks.com/help/compiler/package-matlab-standalone-applications-into-docker-images.html

@DavidjWhite33

[2022-05-26 00:21] stebo85 opened #127 "add automation: Once a new container was build in neurocontainers make a pull request to neurocommand for adding to apps.json"

[2022-05-28 07:17] stebo85 commented on #127
Or to keep it simple: just an issue with the command line for checking if the container runs? Because it's quite tricky to correctly modifiy apps.json automaticly?

[2022-06-23 03:07] stebo85 opened #137 "add container test command as an output to the workflow"
Currently the information for testing containers is hidden under Set image variables:

bash /neurocommand/local/fetch_and_run.sh laynii 2.2.1 20220623

it would be good to have this as an output of the github action clearly visible, maybe even open an issue that someone needs to test the container?

[2022-06-23 03:10] stebo85 opened #138 "automate running containers on self hosted runner if necessary"
currently esilpd is too large to run on github and the workflow is hacked manually

https://github.com/NeuroDesk/neurocontainers/blob/master/.github/workflows/esilpd.yml

[2022-06-23 05:55] stebo85 commented on #137
completed in 9a688d277db2c1a5ecd6666717ffff2fb99c7b4d and output is now added

[2022-06-23 05:55] #137 closed

[2022-06-23 05:58] stebo85 commented on #138
- runs-on: needs to be set to self hosted
- Python setup needs to be disabled on self hosted runner

could be done via a text file similar to free-up space?

[2022-06-25 00:27] stebo85 commented on #65
completed :)

[2022-06-25 00:28] #65 closed

[2022-06-25 00:30] stebo85 opened #139 "create an issue template for submitting a new tool"
- name of tool
- preferred linux flavour (with option)
- version of tool
- linux commands for installing the tool
- any GUI applications and commands to start them?
- test data to include?
- reference to paper?
- link to documentation
- commands for testing the tool

[2022-06-29 04:43] DavidjWhite33 commented on #117
Hi @stebo85, I have been thinking of the best way to integrate FLUX for a while - as it is implemented in Jupyter Notebooks or MATLAB Live Editor using software which are available as neurocontainers (MNE python and Fieldtrip).

The MNE Python-based implementation will be more straightforward to integrate with an updated MNE container, I'll give this a go. I noticed the recent update to the MNE co

[2022-06-29 05:41] stebo85 commented on #117
Dear @DavidjWhite33

that's wonderful to hear! I think flux would be a super valuable addition!

I was just talking to the Flux developers during Brainhack and they are very keen to get Flux in Neurodesk as well :)

I agree that using the MNE python container would be best to start from, then add fieldtrip and we could run the notebooks in VS code nicely?

Yes, a student of mine switched from the

[2022-06-29 06:10] DavidjWhite33 commented on #117
Thanks @stebo85  - great to have the FLUX folks keen!

For a 'clean' MNE install, I agree the mne environment from conda-forge is simplest, there are probably two reasons to consider other approaches.
The first is that originally I think there was a plan to have a larger 'electrophysiology' environment.
The other was to accomodate the additional dependencies of the MNE BIDS Pipeline (https://githu

[2022-06-29 07:13] stebo85 commented on #117
@Kaxnn - would you have a preference: Is installing MNE from a yaml file vs installing MNE via a conda-forge command preferred for you?

[2022-06-29 10:59] Kaxnn commented on #117
Personally, I would prefer to instal via a conda-forge command because it is easier to update and mne is updated frequently. Perhaps we can add a yaml-based version-fixed MNE for integrating other packages as well :)

[2022-07-05 02:51] aswinnarayanan opened #141 "Use github actions reusable workflows"
https://docs.github.com/en/actions/using-workflows/reusing-workflows

[2022-07-05 02:53] stebo85 commented on #141
That would avoid our many yaml files in neurocontainers? That would be cool:)

[2022-07-06 03:00] aswinnarayanan commented on #141
Yes this should do the job. This functionality wasn't available initially when setting up the CI/CD. Will make things much cleaner

[2022-07-07 00:01] stebo85 opened #142 "make our containers citable"
Should we upload all our singularity containers that are released in apps.json to zenodo and assign them a DOI so people can cite them nicely?

Could be integrated in the script that currently uploads the containers to object storage?

[2022-07-07 00:04] stebo85 commented on #142
upload limit to zenodo per item is 50gb

[2022-07-08 06:29] stebo85 commented on #113
I created DNS names now

cvmfs-brisbane.neurodesk.org, cvmfs-sydney.neurodesk.org, cvmfs-frankfurt.neurodesk.org, 	cvmfs-zurich.neurodesk.org, cvmfs-toronto.neurodesk.org, cvmfs-ashburn.neurodesk.org, cvmfs.neurodesk.org

cvmfs.neurodesk.org is geolocation steered and should find the best server with failover

[2022-07-19 09:54] tghafari commented on #117
Hi all, terribly sorry for my delayed reply. I read the issues and totally forgot.
I actually didn't make any progress on integrating FLUX, mostly because I am pretty busy with a few deadlines I have in the next few weeks and didn't really have time to play around with Neurodesk.

[2022-07-20 01:31] DavidjWhite33 commented on #117
Thanks @tghafari, totally understand the pressing deadlines! I am hoping to get some time to start on this over the next couple of weeks, and might reach out if/when I have something to test out.

@stebo85 to continue the parallel discussion above regarding conda envs, perhaps we will end up with multiple MNE containers to accomodate different uses - one core MNE using the simple approach currentl

[2022-07-20 03:24] stebo85 commented on #117
Dear @DavidjWhite33 - I agree that multiple MNE containers is the best option. It doesn't cost additional space really due to the inherent deduplication on CVMFS.

[2022-07-26 01:05] aswinnarayanan commented on #95
Added in https://github.com/NeuroDesk/neurocommand/commit/ff9ac994699bfa45a548da6fefda87574b3d8558

[2022-07-26 01:05] #95 closed

[2022-07-26 02:21] stebo85 commented on #95
oh cool! That's a very nice solution! much better than adding it to CVMFS :)

[2022-08-05 23:40] stebo85 commented on #61
There is a new tool for singuarlity containers we could use:
https://sylabs.io/2022/08/how-to-vulnerability-scanning-of-singularity-containers-with-syft-and-grype/

+ It generates a [Software Bill of Materials (SBOM)](https://www.ntia.gov/SBOM) for a container, and then analyze the SBOM to identify vulnerabilities.

[2022-08-09 01:00] stebo85 commented on #139
@iishiishii - this is the issue template idea I mentioned this morning :)

[2022-08-09 07:50] stebo85 opened #155 "add synthstrip"
https://surfer.nmr.mgh.harvard.edu/docs/synthstrip/

but it's also included in the new fressurfer release

[2022-08-12 02:58] stebo85 commented on #138
this is what I tried, but not working yet:

[code]

[2022-08-16 20:54] aktech commented on #138
*Disclaimer: This doesn't answers the actual question, but suggests an alternative:*

Hey @stebo85 you can achieve this easily with https://cirun.io/ It creates on demand runners for GitHub Actions on your cloud and manages the complete lifecycle. You simply connect your cloud provider and define what runners you need in a simple yaml file and that's it.

See https://docs.cirun.io/reference/exampl

[2022-08-16 20:55] stebo85 commented on #138
That's really cool! Thank you @aktech - that could indeed make our live a bit easier.

[2022-08-16 20:57] aktech commented on #138
Thanks, let me know if you need any help. I am more than happy to help.

[2022-08-16 20:58] stebo85 commented on #138
@aktech - first problem: cirun doesn't support Oracle Cloud, which is the cloud provider we use and love. I send you a support message inside cirun.

[2022-08-19 20:47] aktech commented on #138
@stebo85 It does now 🚀 Here is an example repository: [AktechLabs/github-actions-on-oracle-cloud-example](https://github.com/AktechLabs/github-actions-on-oracle-cloud-example)

[2022-09-09 02:51] stebo85 opened #157 "mne-lab"

[2022-09-09 16:52] yjmantilla commented on #91
I think the third option (separate container) seems to be the most healthy one overall.

[2022-09-12 08:47] DavidjWhite33 commented on #157
Hi @stebo85, there was a plan to have mne-lab running in the MNE extended container (indeed it is still part of the install yaml), but it has pyside6 as a dependency - while a number of the others use pyqt et al, and I was concerned about conflicts. Let me know if you suggestions on a path forward.

[2022-09-12 21:48] stebo85 commented on #157
Dear @DavidjWhite33,

You are the expert on these tools so I leave this decision to you. If you can include MNE-lab inside the MNE extended container that's wonderful. If not, and you think MNE-lab is useful, then maybe it's worth building it inside a separate container?

Thank you
Steffen

[2022-09-14 04:30] DavidjWhite33 commented on #157
Thanks @stebo85, I have not used mne-lab personally, but seems to make MNE python more accessible so probably worth trying to add it one way or another for those more comfortable with GUI. I am away for a couple of weeks, but will re-visit on my return.

[2022-09-14 06:05] thomshaw92 opened #160 "Add micapipe!"
Because it looks awesome
https://micapipe.readthedocs.io/en/latest/
Will work on this now

[2022-10-07 00:57] thomshaw92 opened #165 "Add water–fat total field inversion (wfTFI) quantitative susceptibility mapping (QSM)"
Christof Boehm, Nico Sollmann, Jakob Meineke, Stefan Ruschke, Michael Dieckmeyer, Kilian Weiss, Claus Zimmer, Marcus R. Makowski, Thomas Baum & Dimitrios Karampinos, Preconditioned water-fat total field inversion: Application to spine quantitative susceptibility mapping (2022), https://doi.org/10.1002/mrm.28903

https://gitlab.com/christofboehm/wftfi

[2022-10-12 05:41] Zeinabeftekhari opened #166 "Add various dependencies for MRSI post-processing"
Need to install for MRSI post-processing:

MATLAB2017b ( if not already available)
Minc versions 1.9.18.20200813 **and** 2.0.18,
libminc 2.0.18
netcdf 3.6.3
HDF5 1.6.6
betFSL 6.05
LCModel 6.3.1

[2022-10-14 02:02] aswinnarayanan opened #167 "Update depreciated github actions"

[2022-10-14 02:59] thomshaw92 commented on #166
@stebo85 was thinking it may be nice to package this into one container including the MATLAB scripts necessary to run it. What do you think?

Also could we include HD-BET instead of BET

[2022-10-14 03:00] stebo85 commented on #166
Yes, that's the plan

[2022-10-14 03:08] thomshaw92 commented on #166
Cool - I've cleaned up the scripts with Zeinab to take standardised input and included HD-Bet for masking instead of BET.
Let me know how you want to proceed with scripts :)

[2022-10-14 03:09] stebo85 commented on #166
Can you start a new container recipe for this (based on the matlab container) and try to get as far as possible?

[2022-10-17 04:59] stebo85 commented on #166
@thomshaw92 , @korbinian90 is keen to help with this :)

[2022-10-17 05:03] thomshaw92 commented on #166
@stebo85 @korbinian90 great :) I'm working on it now as well.
@Zeinabeftekhari can you please add Korbinian to the Github repo too?
I'm currently working on the Matlab simg recipe

[2022-10-17 05:07] stebo85 commented on #166
wonderful - let me know in which problems you run and I can help

[2022-10-17 05:09] Zeinabeftekhari commented on #166
I did.

From: Thom Shaw ***@***.***>
Sent: 17 October 2022 15:04
To: NeuroDesk/neurocontainers ***@***.***>
Cc: Zeinab Eftekhari ***@***.***>; Mention ***@***.***>
Subject: Re: [NeuroDesk/neurocontainers] Add various dependencies for MRSI post-processing (Issue #166)

@stebo85<https://github.com/stebo85> @korbinian90<https://github.com/korbinian90> great :) I'm working on it now as well.
@Zeinabef

[2022-10-17 10:13] korbinian90 commented on #166
Thanks for inviting me!

As I understand it the mrsi neurocontainer will use other neurocontainers for matlab2017b, lcmodel and bet/hd-bet. And the remaining tools are installed into the mrsi neurocontainer. Is that how it is supposed to work?

I would try to create a new neurocontainer file and see if I manage to install the other tools there. Does that make sense?

[2022-10-17 10:15] stebo85 commented on #166
I would try to build everything in one container- then it's also usable via plain docker and doesn't require neurodesk

[2022-10-17 10:52] thomshaw92 commented on #166
Hey @korbinian90 I've already done most of this, it is building now and testing. :)
WRT the scripts, we just need a solution - I was thinking of having the docker container pull them from my github repo while we wait for Wolfgang to clean up his repo?
Or I can keep them in a subfolder under this tool (i'm calling it mrsiproc)? @stebo85

[2022-10-17 11:23] thomshaw92 commented on #166
I have a working standalone docker container now with the scripts in :)
I'll send to you @korbinian90 just until we figure out how to deal with the scripts

[2022-10-18 03:28] thomshaw92 commented on #166
Great - just had a discussion with @korbinian90 - we agreed that, until Wolfgang has uploaded his code, we will keep the code off Github/Neurodesk/Docker and only share it with people who have permission to use it. Then add the git clone step in later when the code is public :)

[2022-10-18 03:44] thomshaw92 commented on #166
@stebo85 LCModel requires libtk8.5 which is only available on ubuntu 16 base.
We also probably need Matlab 2017b to get this running.

[2022-10-18 03:47] stebo85 commented on #166
Ok, then try to have a Ubuntu 16 baseline container and see if you can install matlab in there. If that's not possible we could try something new and run neurodesk within neurodesk- I have a proof of concept for this but it would need more testing.

[2022-10-18 03:51] thomshaw92 commented on #166
I think I've found a workaround for now for the lib:
  --run="sudo add-apt-repository 'deb [arch=amd64] http://it-mirrors.evowise.com/ubuntu/ bionic universe'" `#install dependencies for dependencies of lcmodel` \
   --run="sudo apt update && sudo apt install libtk8.5" \

   source: https://askubuntu.com/questions/1281199/libtk8-5-package-on-ubuntu-20-04

[2022-10-18 03:52] thomshaw92 commented on #166
But Matlab will still be an issue - I believe we need to run it on 2017 - does Neurodesk already have 2017?

[2022-10-18 04:07] korbinian90 commented on #166
I could only find the 2022a version in NeuroDesk (which is from matlab deep learning).

From UQ we get staff licences and iso files starting with matlab 2019a. Also these need a connection to the UQ matlab licence server to be able to start everytime. It seems like we cannot register our licences on mathworks.com, which would be required for the matlab 2022a version on NeuroDesk.

I think, the clo

[2022-10-18 04:23] stebo85 commented on #166
this is the matlab we currently use in neurodesk: https://github.com/NeuroDesk/neurocontainers/blob/master/recipes/matlab/build.sh -> we build it based on matlab's docker containers. I think they don't provide older versions there: https://hub.docker.com/r/mathworks/matlab

Can you try if the code runs in the 2022a version?

[2022-10-18 04:40] korbinian90 commented on #166
Ashley just showed me his matlab licence and we can just register on mathworks.com with our uq email and automatically get a licence, nice! (The UQ software download pages were quite misleading)

So we can try with 2022a (but I expect a lot of incompatibilities) and in case it turns out to be too much work to get it running, we could download a matlab iso file for 2017b from mathworks.

[2022-10-18 05:43] thomshaw92 commented on #166
Trying with 2022a first :) Still building because of FSL (i put it at the end ;))

[2022-10-18 23:50] thomshaw92 commented on #166
OK it is in dependency hell due to Matlab and LCModel needing ubuntu 18.
New plan to run base ubuntu 18 and Matlab 2017 iso. @korbinian90 would you be able to make a matlab 2017 version on Neurocontainers as a standalone app please? Matlab is not my forté

[2022-10-19 01:00] korbinian90 commented on #166
OK, I will try to set up a ubuntu 18 Matlab 2017b container.
matlab comes with a 174 page install_guide...

[2022-10-19 01:04] thomshaw92 commented on #166
did you try pip install matlab? 🤣

[2022-10-19 02:53] korbinian90 commented on #166
I couldn't figure out how to create a container from the matlab installer.
I found that matlab provides base containers starting with 2019b ubuntu 18. I'm trying to build one now.
https://hub.docker.com/r/mathworks/matlab-deps
https://github.com/mathworks-ref-arch/matlab-dockerfile

[2022-10-19 05:12] korbinian90 commented on #166
First version that successfully built:
2019b ubuntu 18 container: https://github.com/korbinian90/neurocontainers/tree/master/recipes/matlab2019b

The best approach for matlab licence things still needs to be figured out.
I didn't manage to sign in for the matlab licence, because I don't know how to setup x11 GUI things.
I'll try with .lic file tomorrow (or when someone with more container experien

[2022-10-19 05:22] thomshaw92 commented on #166
Awesome!
Have to defer to @stebo85 for that - would it be any different as we are going down a version instead of up?

Also - I've read that LibTK8.6 is backwards compatible with LibTK8.5, so I will try and run LCModel with 8.6.

Unfortunately, still waiting the container to build most of today
![image](https://user-images.githubusercontent.com/31721414/196604018-091f6d7a-07d3-4a01-b492-9eaa8afe6f

[2022-10-19 05:23] thomshaw92 commented on #166
Will pull request when it's working https://github.com/thomshaw92/neurocontainers/tree/master/recipes/mrsiproc

[2022-10-27 15:06] aswinnarayanan commented on #141
Got this working on the test fork.
I'll consolidate some of the other container build fixes (depracations, os updates etc) and merge them as one update

[2022-10-27 16:31] stebo85 commented on #141
That's awesome :)

[2022-10-29 12:06] aswinnarayanan commented on #141
To-do
- [ ] Re-add support for cirun

[2022-11-04 00:32] aswinnarayanan commented on #167
Done.

[2022-11-04 00:32] #167 closed

[2022-11-04 00:35] aswinnarayanan commented on #141
Done

[2022-11-04 00:35] #141 closed

[2022-11-07 04:00] korbinian90 opened #178 "Matlab keyboard shortcuts"
The matlab GUI starts by default with emacs keyboard shortcuts (alt+w for copy, etc.)
matlab 2022a container

[2022-11-10 04:00] stebo85 commented on #56
done - please feel free to reopen if anything is missing

[2022-11-10 04:00] #56 closed

[2022-11-10 04:01] stebo85 commented on #138
working thanks to cirun

[2022-11-10 04:01] #138 closed

[2022-11-10 04:16] #84 closed

[2022-11-16 00:28] stebo85 commented on #79
Feedback why building containers is hard for neurodesk @korbinian90 @iishiishii:
- writing dockerfiles is hard -> neurodocker helps us, but it is confusing for users because they don’t know how it works and what it does; idea: hide this process better :? Make dockerfiles available, so people understand what neurodocker is building?
- building containers needs a lot of storage -> developers run out